{{!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="post">
        <input type="text" name="email">
        <input type="text" name="password">
        <input type="submit" value="oh yeah">
    </form>

</body>

</html> --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="patient.css">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="inner-card" id="cards">
                <div class="card-front">
                    <h2>PATIENT</h2>
                    <h3>Login</h3>
                    <form action="/login/doctor" method="POST">
                        <input type="email" name="username" class="input-box" placeholder="Email Id" required>
                        <input type="password" name="password" class="input-box" placeholder="password" required>
                        <button type="submit" class="submit-button">Submit</button>
                        <hr>
                        <a href="#" class="fa fa-google">Google+</a>



                    </form>
                    <button type="button" class="btn"
                        onclick="window.location.href ='signup_patient.html'">Register</button>
                    <a href=""> Forgot Password</a>
                </div>




            </div>
        </div>
    </div>


</body>

</html>